.container-home {
    width: 100%;
    background-color: var(--color-background);
}

.home-about {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.home-about-left {
    width: 50%;
    padding: 0px 30px;
}

.home-about-left .area {
    font: 700 1rem Roboto;
    color: var(--color-green-blue);
}

.home-about-left h1 {
    font: 700 2rem Roboto;
    color: #fff;
    margin-top: 10px;
}

.home-about-left p {
    color: #fff;
    font: 400 1rem Roboto;
    margin-top: 10px;
}

.home-about-left button {
    border: none;
    width: 300px;
    padding: 20px 0px;
    background-color: var(--color-green-blue);
    font: 700 1rem Roboto;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.home-about-left button:hover {
    background-color: #55cfc7;
}

.home-about-right {
    width: 50%;
    display: flex;
    justify-content: center;
}

.home-about-right img {
    width: 500px;
    height: 500px;
}

.div-page {
    width: 100%;
}

.div-page img {
    width: 100%;
}

.home-more-about {
    width: 100%;
    margin-top: -10px;
    background-color: var(--color-second-background);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.more-about-left {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font: 400 1.4rem Roboto;
}

.more-about-left .myphoto {
    display: flex;
    width: 230px;
    height: 230px;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--color-green-blue);
    border-radius: 50%;
}

.more-about-left .myphoto img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.more-about-left h3 {
    margin-top: 18px;
}

.more-about-left .icon-social {
    margin-top: 18px;
    width: 74%;
    display: flex;
    justify-content: space-around;
}

.more-about-left .icon-social img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.more-about-right {
    width: 50%;
    color: #fff;
}

.more-about-right .sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.more-about-right .sobre img {
    margin-right: 10px;
}

.more-about-right h3 {
    font: 700 1.4rem Roboto;
}

.more-about-right h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    font: 700 1rem Roboto;
}

.more-about-right p {
    margin: 20px 0px;
    font: 400 1rem Roboto;
}