:root {
    --color-background: #202833;
    --color-second-background: #2A3445;
    --color-green-blue: #61ECE3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
    height: 100%;
}